.ticket-list {
  display: flex;
  flex-direction: column;
}

.show-tickets {
  height: 40px;
  margin-top: 2rem;
  border: 0;
  background: #2196F3;
  padding: 7px 12px;
  color: #fff;
  border-radius: 5px;
  transition: filter .5s;
}

.show-tickets:hover,
.show-tickets:focus {
  filter: contrast(120%);
}
